There are 3 types of forms in the eRetrieval for SVOPAC 460, 496, 410:


Form 496 is  24-hour/10-day Independent Expenditure Report. All independent expenditures reported on Form 496 must also be reported on subsequent campaign reports (i.e., Forms 460, 450 or 461).

Form 460 is Recipient Committee Campaign Statement
Use the Form 460 to file any of the following:
- Preelection Statement
- Semi-annual Statement
- Quarterly Statement
- Special Odd-Year Report
- Termination Statement
- Amendment to a previously filed statement


Form 460 Consist of several Schedules
 - Recipient Committee Campaign Statement: Cover Page,	Type of Recipient Committee,
	Type of Statement,
	Committee Information (name) etc
 - Campaign Disclosure Statement Summary Page:	Accounting information
 - Schedule A: Monetary Contributions Received	Dates names, amounts, codes
 - Schedule B: Loans Received	Dates names, amounts, codes
 - Schedule C: Nonmonetary Contributions Received	Dates names, amounts, codes
 - Schedule D: Summary of Expenditures Supporting/Opposing Other Candidates, Measures and Committees	support oppose, type of payment, amounts
 - Schedule E: Payments Made	Dates names, amounts, codes
 - Schedule F: Accrued Expenses 	Dates names, amounts, codes
 - Schedule I: Miscellaneous Increases to Cash	Dates names, amounts


Codes 
Entity_Cd
 - IND – Individual
 - COM – Recipient Committee
(other than PTY or SCC) 
 - OTH – Other (e.g., business entity) 
 - PTY – Political Party
 - SCC – Small Contributor Committee
 
 
Expn_Code
 - CMP campaign paraphernalia/misc.
 - CNS campaign consultants
 - CTB contribution (explain nonmonetary)*
 - CVC civic donations
 - FIL candidate filing/ballot fees
 - FND fundraising events
 - IND independent expenditure supporting/opposing others (explain)* LEG legal defense
 - LIT campaign literature and mailings
 - MBR member communications MTG meetings and appearances OFC office expenses
 - PET petition circulating
 - PHO phone banks
 - POL polling and survey research
 - POS postage, delivery and messenger services PRO professional services (legal, accounting) PRT print ads
 - RAD radio airtime and production costs
 - RFD returned contributions
 - SAL campaign workers’ salaries
 - TEL t.v. or cable airtime and production costs
 - TRC candidate travel, lodging, and meals
 - TRS staff/spouse travel, lodging, and meals
 - TSF transfer between committees of the same candidate/sponsor VOT voter registration
 - WEB information technology costs (internet, e-mail)
 
 
 Sup_Opp_Cd
  - S in support of a candidate or measure
  - O opposing a candidate or a measure

In [709]:
import pandas as pd

import numpy as np

In [710]:
# readimng all files (460s only)
import glob
files = glob.glob('files/*.xls')

In [711]:
files

['files/transactionExportGrid-4.xls',
 'files/transactionExportGrid-5.xls',
 'files/transactionExportGrid-7.xls',
 'files/transactionExportGrid-6.xls',
 'files/transactionExportGrid-2.xls',
 'files/transactionExportGrid-3.xls',
 'files/transactionExportGrid-10.xls',
 'files/transactionExportGrid-11.xls',
 'files/transactionExportGrid-13.xls',
 'files/transactionExportGrid-12.xls',
 'files/transactionExportGrid-8.xls',
 'files/transactionExportGrid-9.xls']

In [712]:
from datetime import datetime
my_dict = {}
for f in files:
    data = pd.read_excel(f)
    my_dict[f] = ( data['From_Date'][1], data['Thru_Date'][1],data['Rpt_Date'][1] )

df_new = pd.DataFrame({'file_name':files})

In [713]:
df_new

                             file_name
0    files/transactionExportGrid-4.xls
1    files/transactionExportGrid-5.xls
2    files/transactionExportGrid-7.xls
3    files/transactionExportGrid-6.xls
4    files/transactionExportGrid-2.xls
5    files/transactionExportGrid-3.xls
6   files/transactionExportGrid-10.xls
7   files/transactionExportGrid-11.xls
8   files/transactionExportGrid-13.xls
9   files/transactionExportGrid-12.xls
10   files/transactionExportGrid-8.xls
11   files/transactionExportGrid-9.xls

In [714]:
new_df = pd.DataFrame.from_dict(my_dict, orient='index')

In [715]:
df_new

                             file_name
0    files/transactionExportGrid-4.xls
1    files/transactionExportGrid-5.xls
2    files/transactionExportGrid-7.xls
3    files/transactionExportGrid-6.xls
4    files/transactionExportGrid-2.xls
5    files/transactionExportGrid-3.xls
6   files/transactionExportGrid-10.xls
7   files/transactionExportGrid-11.xls
8   files/transactionExportGrid-13.xls
9   files/transactionExportGrid-12.xls
10   files/transactionExportGrid-8.xls
11   files/transactionExportGrid-9.xls

In [716]:
new_df.columns = ['From_Date', 'Thru_Date', 'Rpt']

In [717]:
new_df
new_df['file_name'] =new_df.index

In [718]:
new_df.sort_values(["From_Date","Rpt"], axis = 0, ascending = True, 
                 inplace = True, na_position ='last')

In [719]:
new_df

,From_Date,Thru_Date,Rpt,file_name
files/transactionExportGrid-3.xls,1/1/2018 12:00:00 AM,4/21/2018 12:00:00 AM,4/26/2018 11:16:27 PM,files/transactionExportGrid-3.xls
files/transactionExportGrid-12.xls,1/1/2018 12:00:00 AM,4/21/2018 12:00:00 AM,5/18/2018 7:23:35 PM,files/transactionExportGrid-12.xls
files/transactionExportGrid-5.xls,10/21/2018 12:00:00 AM,12/31/2018 12:00:00 AM,1/30/2019 11:49:26 PM,files/transactionExportGrid-5.xls
files/transactionExportGrid-13.xls,10/21/2018 12:00:00 AM,12/31/2018 12:00:00 AM,2/14/2019 10:34:31 PM,files/transactionExportGrid-13.xls
files/transactionExportGrid-4.xls,4/22/2018 12:00:00 AM,5/19/2018 12:00:00 AM,5/24/2018 1:27:02 AM,files/transactionExportGrid-4.xls
files/transactionExportGrid-9.xls,4/22/2018 12:00:00 AM,5/19/2018 12:00:00 AM,8/6/2018 11:33:23 PM,files/transactionExportGrid-9.xls
files/transactionExportGrid-6.xls,5/20/2018 12:00:00 AM,6/3/2018 12:00:00 AM,6/4/2018 11:57:33 PM,files/transactionExportGrid-6.xls
files/transactionExportGrid-11.xls,5/20/2018 12:00:00 AM,6/3/2018 12:00:00 AM,8/6/2018 11:44:51 PM,files/transactionExportGrid-11.xls
files/transactionExportGrid-8.xls,6/4/2018 12:00:00 AM,6/30/2018 12:00:00 AM,7/31/2018 9:41:18 PM,files/transactionExportGrid-8.xls
files/transactionExportGrid-10.xls,6/4/2018 12:00:00 AM,6/30/2018 12:00:00 AM,8/6/2018 11:56:03 PM,files/transactionExportGrid-10.xls
files/transactionExportGrid-7.xls,7/1/2017 12:00:00 AM,12/31/2017 12:00:00 AM,1/31/2018 12:27:01 AM,files/transactionExportGrid-7.xls
files/transactionExportGrid-2.xls,7/1/2018 12:00:00 AM,10/20/2018 12:00:00 AM,10/26/2018 6:18:15 PM,files/transactionExportGrid-2.xls

In [720]:
#new_df['from'] = pd.to_datetime(new_df['From_Date'])
#new_df['thru'] = pd.to_datetime(new_df['Thru_Date'])
#new_df['rpt_l'] = new_df['thru']-new_df['from']

In [721]:
#Comparing 71-1231 and 71 10 , 10 -12
#range

semi=  pd.read_excel('files/transactionExportGrid-7.xls')
semi_710=  pd.read_excel('files/transactionExportGrid-2.xls')
semi_1012=  pd.read_excel('files/transactionExportGrid-13.xls')
semi_comb = semi_710.append(semi_1012)

In [722]:
print(len(semi), len(semi_comb))

229 312

Here is a <span style="color:red">discrepancy</span> between semiannual report and combined quaterly reports for same period(amendment)
To see what is different between them we have to create outer join

In [723]:
result = pd.merge(semi,
                 semi_comb,
                 on='Tran_ID', 
                 how='outer', 
                 indicator=True)

result
result.to_csv('outer_join.csv')

In [724]:
print(len(result))

541

In [725]:
result = result.drop_duplicates(['Tran_ID'], keep='first')

In [726]:
new_df = new_df.drop_duplicates(subset=new_df.columns.difference(['Rpt','file_name']), keep='last')

In [727]:
new_df

,From_Date,Thru_Date,Rpt,file_name
files/transactionExportGrid-12.xls,1/1/2018 12:00:00 AM,4/21/2018 12:00:00 AM,5/18/2018 7:23:35 PM,files/transactionExportGrid-12.xls
files/transactionExportGrid-13.xls,10/21/2018 12:00:00 AM,12/31/2018 12:00:00 AM,2/14/2019 10:34:31 PM,files/transactionExportGrid-13.xls
files/transactionExportGrid-9.xls,4/22/2018 12:00:00 AM,5/19/2018 12:00:00 AM,8/6/2018 11:33:23 PM,files/transactionExportGrid-9.xls
files/transactionExportGrid-11.xls,5/20/2018 12:00:00 AM,6/3/2018 12:00:00 AM,8/6/2018 11:44:51 PM,files/transactionExportGrid-11.xls
files/transactionExportGrid-10.xls,6/4/2018 12:00:00 AM,6/30/2018 12:00:00 AM,8/6/2018 11:56:03 PM,files/transactionExportGrid-10.xls
files/transactionExportGrid-7.xls,7/1/2017 12:00:00 AM,12/31/2017 12:00:00 AM,1/31/2018 12:27:01 AM,files/transactionExportGrid-7.xls
files/transactionExportGrid-2.xls,7/1/2018 12:00:00 AM,10/20/2018 12:00:00 AM,10/26/2018 6:18:15 PM,files/transactionExportGrid-2.xls

In [728]:
files = new_df.file_name.tolist()

In [729]:
#new list of files semiannual rerport included joined with every report and ammendment , report removed if there is an amendment filed on a later date
files

['files/transactionExportGrid-12.xls',
 'files/transactionExportGrid-13.xls',
 'files/transactionExportGrid-9.xls',
 'files/transactionExportGrid-11.xls',
 'files/transactionExportGrid-10.xls',
 'files/transactionExportGrid-7.xls',
 'files/transactionExportGrid-2.xls']

In [730]:

df = pd.DataFrame()
for f in files:
    data = pd.read_excel(f)
    df = df.append(data)

In [731]:
len(df)

795

In [732]:
#creating csv of dublicates
ids = df["Tran_ID"]
df_dub_csv = df[ids.isin(ids[ids.duplicated()])]
df_dub_csv.to_csv('f_dub.csv')

Dublcates are created by schedule D and Some items on Schedule E. Schedule D however contains interesting information: what was expenditure for: opposing or supporting certain candidate

In [733]:
#df = df.drop_duplicates(['Tran_ID'], keep='first')

In [734]:
df.shape

(795, 88)

In [735]:
df_D = df[df['Form_Type']=='D']

In [736]:
len(df_D)

63

In [737]:
#df= df[df['Form_Type']!='D']
#df
#df = df.drop(df[df['Form_Type']=='D'].index)

In [738]:
#len(df)

In [739]:
#df_D = df_D[['Tran_ID','Office_Cd', 'Offic_Dscr', 'Juris_Cd', 'Juris_Dscr', 'Off_S_H_Cd', 'Bal_Name', 'Bal_Num', 'Bal_Juris', 'Sup_Opp_Cd', 'Memo_Code']]

In [740]:
#df.merge(df_D, left_on='Tran_ID', suffixes=('_', '_D'))

In [741]:
#df1 = pd.merge(df, df_D, on='Tran_ID')

In [742]:
#df2=pd.merge(df, df_D, on='Tran_ID', how='outer')

In [743]:
#len(df2)

In [744]:
#df2.to_csv('f_D.csv')

In [745]:
#df[df.duplicated(['Rpt_Date'],keep=False)].sort_values(by=['Tran_ID'])

In [746]:
#df = df.drop_duplicates(['Tran_ID'])

In [747]:
#df.head()

In [748]:
#df.to_csv('f.csv')

In [749]:
#len(df)

To remove dublicats and give preference to schedule D colums 'Tran_ID', 'Form_Type' are sorted and first record is kept

In [750]:
df.sort_values([ 'Tran_ID', 'Form_Type']).to_csv('sorted_all.csv')

In [751]:
df.sort_values([ 'Tran_ID', 'Form_Type']).tail(40)

,Filer_ID,Filer_Nam L,Committee_Type,Rpt_Date,From_Date,Thru_Date,Rpt_Elect_Date,Rec_Type,Form_Type,Tran_ID,...,Bal_Juris,Sup_Opp_Cd,Memo_Code,Memo_Ref No,Bak Ref_TID,G_From_E_F,XRef_Sch Nm,XRef_Match,Int_Rate,Int_Cmte Id
11,820668,The Silicon Valley Organization PAC,RCP,2/14/2019 10:34:31 PM,10/21/2018 12:00:00 AM,12/31/2018 12:00:00 AM,NaN,RCPT,A,INC11063,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,820668,The Silicon Valley Organization PAC,RCP,2/14/2019 10:34:31 PM,10/21/2018 12:00:00 AM,12/31/2018 12:00:00 AM,NaN,RCPT,A,INC11064,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,820668,The Silicon Valley Organization PAC,RCP,2/14/2019 10:34:31 PM,10/21/2018 12:00:00 AM,12/31/2018 12:00:00 AM,NaN,RCPT,A,INC11065,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,820668,The Silicon Valley Organization PAC,RCP,2/14/2019 10:34:31 PM,10/21/2018 12:00:00 AM,12/31/2018 12:00:00 AM,NaN,RCPT,A,INC11089,...,NaN,NaN,NO,INC11089,NaN,NaN,NaN,NaN,NaN,NaN
15,820668,The Silicon Valley Organization PAC,RCP,2/14/2019 10:34:31 PM,10/21/2018 12:00:00 AM,12/31/2018 12:00:00 AM,NaN,RCPT,A,INC11129,...,NaN,NaN,NO,INC11129,NaN,NaN,NaN,NaN,NaN,NaN
16,820668,The Silicon Valley Organization PAC,RCP,2/14/2019 10:34:31 PM,10/21/2018 12:00:00 AM,12/31/2018 12:00:00 AM,NaN,RCPT,A,INC11139,...,NaN,NaN,NO,INC11139,NaN,NaN,NaN,NaN,NaN,NaN
17,820668,The Silicon Valley Organization PAC,RCP,2/14/2019 10:34:31 PM,10/21/2018 12:00:00 AM,12/31/2018 12:00:00 AM,NaN,RCPT,A,INC11144,...,NaN,NaN,NO,INC11144,NaN,NaN,NaN,NaN,NaN,NaN
47,820668,The Silicon Valley Organization PAC,RCP,5/18/2018 7:23:35 PM,1/1/2018 12:00:00 AM,4/21/2018 12:00:00 AM,NaN,RCPT,C,NON10609,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,820668,The Silicon Valley Organization PAC,RCP,1/31/2018 12:27:01 AM,7/1/2017 12:00:00 AM,12/31/2017 12:00:00 AM,NaN,DEBT,F,PAY10077,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,820668,The Silicon Valley Organization PAC,RCP,5/18/2018 7:23:35 PM,1/1/2018 12:00:00 AM,4/21/2018 12:00:00 AM,NaN,DEBT,F,PAY10432,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,820668,The Silicon Valley Organization PAC,RCP,1/31/2018 12:27:01 AM,7/1/2017 12:00:00 AM,12/31/2017 12:00:00 AM,NaN,DEBT,F,PAY10432,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,820668,The Silicon Valley Organization PAC,RCP,5/18/2018 7:23:35 PM,1/1/2018 12:00:00 AM,4/21/2018 12:00:00 AM,NaN,DEBT,F,PAY10608,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,820668,The Silicon Valley Organization PAC,RCP,8/6/2018 11:33:23 PM,4/22/2018 12:00:00 AM,5/19/2018 12:00:00 AM,NaN,DEBT,F,PAY10608,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,820668,The Silicon Valley Organization PAC,RCP,5/18/2018 7:23:35 PM,1/1/2018 12:00:00 AM,4/21/2018 12:00:00 AM,NaN,DEBT,F,PAY10651,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,820668,The Silicon Valley Organization PAC,RCP,8/6/2018 11:33:23 PM,4/22/2018 12:00:00 AM,5/19/2018 12:00:00 AM,NaN,DEBT,F,PAY10651,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,820668,The Silicon Valley Organization PAC,RCP,8/6/2018 11:33:23 PM,4/22/2018 12:00:00 AM,5/19/2018 12:00:00 AM,NaN,DEBT,F,PAY10667,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,820668,The Silicon Valley Organization PAC,RCP,8/6/2018 11:44:51 PM,5/20/2018 12:00:00 AM,6/3/2018 12:00:00 AM,NaN,DEBT,F,PAY10667,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,820668,The Silicon Valley Organization PAC,RCP,8/6/2018 11:56:03 PM,6/4/2018 12:00:00 AM,6/30/2018 12:00:00 AM,NaN,DEBT,F,PAY10667,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,820668,The Silicon Valley Organization PAC,RCP,8/6/2018 11:33:23 PM,4/22/2018 12:00:00 AM,5/19/2018 12:00:00 AM,NaN,DEBT,F,PAY10668,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,820668,The Silicon Valley Organization PAC,RCP,8/6/2018 11:44:51 PM,5/20/2018 12:00:00 AM,6/3/2018 12:00:00 AM,NaN,DEBT,F,PAY10668,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,820668,The Silicon Valley Organization PAC,RCP,8/6/2018 11:33:23 PM,4/22/2018 12:00:00 AM,5/19/2018 12:00:00 AM,NaN,DEBT,F,PAY10672,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,820668,The Silicon Valley Organization PAC,RCP,8/6/2018 11:44:51 PM,5/20/2018 12:00:00 AM,6/3/2018 12:00:00 AM,NaN,DEBT,F,PAY10672,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,820668,The Silicon Valley Organization PAC,RCP,8/6/2018 11:56:03 PM,6/4/2018 12:00:00 AM,6/30/2018 12:00:00 AM,NaN,DEBT,F,PAY10672,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,820668,The Silicon Valley Organization PAC,RCP,8/6/2018 11:56:03 PM,6/4/2018 12:00:00 AM,6/30/2018 12:00:00 AM,NaN,DEBT,F,PAY10716,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,820668,The Silicon Valley Organization PAC,RCP,10/26/2018 6:18:15 PM,7/1/2018 12:00:00 AM,10/20/2018 12:00:00 AM,NaN,DEBT,F,PAY10716,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,820668,The Silicon Valley Organization PAC,RCP,8/6/2018 11:56:03 PM,6/4/2018 12:00:00 AM,6/30/2018 12:00:00 AM,NaN,DEBT,F,PAY10721,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,820668,The Silicon Valley Organization PAC,RCP,10/26/2018 6:18:15 PM,7/1/2018 12:00:00 AM,10/20/2018 12:00:00 AM,NaN,DEBT,F,PAY10721,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,820668,The Silicon Valley Organization PAC,RCP,8/6/2018 11:33:23 PM,4/22/2018 12:00:00 AM,5/19/2018 12:00:00 AM,NaN,DEBT,F,PAY10726,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,820668,The Silicon Valley Organization PAC,RCP,8/6/2018 11:44:51 PM,5/20/2018 12:00:00 AM,6/3/2018 12:00:00 AM,NaN,DEBT,F,PAY10726,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,820668,The Silicon Valley Organization PAC,RCP,8/6/2018 11:56:03 PM,6/4/2018 12:00:00 AM,6/30/2018 12:00:00 AM,NaN,DEBT,F,PAY10726,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,820668,The Silicon Valley Organization PAC,RCP,10/26/2018 6:18:15 PM,7/1/2018 12:00:00 AM,10/20/2018 12:00:00 AM,NaN,DEBT,F,PAY10726,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,820668,The Silicon Valley Organization PAC,RCP,2/14/2019 10:34:31 PM,10/21/2018 12:00:00 AM,12/31/2018 12:00:00 AM,NaN,DEBT,F,PAY11007,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,820668,The Silicon Valley Organization PAC,RCP,10/26/2018 6:18:15 PM,7/1/2018 12:00:00 AM,10/20/2018 12:00:00 AM,NaN,DEBT,F,PAY11007,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,820668,The Silicon Valley Organization PAC,RCP,2/14/2019 10:34:31 PM,10/21/2018 12:00:00 AM,12/31/2018 12:00:00 AM,NaN,DEBT,F,PAY11008,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,820668,The Silicon Valley Organization PAC,RCP,10/26/2018 6:18:15 PM,7/1/2018 12:00:00 AM,10/20/2018 12:00:00 AM,NaN,DEBT,F,PAY11008,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,820668,The Silicon Valley Organization PAC,RCP,2/14/2019 10:34:31 PM,10/21/2018 12:00:00 AM,12/31/2018 12:00:00 AM,NaN,LOAN,B1,PAY11013,...,NaN,NaN,NO,PAY11013,NaN,NaN,NaN,NaN,NaN,NaN
19,820668,The Silicon Valley Organization PAC,RCP,2/14/2019 10:34:31 PM,10/21/2018 12:00:00 AM,12/31/2018 12:00:00 AM,NaN,LOAN,B1,PAY11019,...,NaN,NaN,NO,PAY11019,NaN,NaN,NaN,NaN,NaN,NaN
50,820668,The Silicon Valley Organization PAC,RCP,2/14/2019 10:34:31 PM,10/21/2018 12:00:00 AM,12/31/2018 12:00:00 AM,NaN,DEBT,F,PAY11073,...,NaN,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,820668,The Silicon Valley Organization PAC,RCP,8/6/2018 11:33:23 PM,4/22/2018 12:00:00 AM,5/19/2018 12:00:00 AM,NaN,EXPN,D,PDT69,...,NaN,S,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,820668,The Silicon Valley Organization PAC,RCP,8/6/2018 11:33:23 PM,4/22/2018 12:00:00 AM,5/19/2018 12:00:00 AM,NaN,EXPN,G,PDT70,...,NaN,NaN,NO,NaN,NaN,E,NaN,NaN,NaN,NaN

In [752]:
df =df.sort_values([ 'Tran_ID', 'Form_Type'])

In [753]:
df = df.drop_duplicates(['Tran_ID'], keep='first')

In [754]:
len(df)

773

In [755]:
df.head()

,Filer_ID,Filer_Nam L,Committee_Type,Rpt_Date,From_Date,Thru_Date,Rpt_Elect_Date,Rec_Type,Form_Type,Tran_ID,...,Bal_Juris,Sup_Opp_Cd,Memo_Code,Memo_Ref No,Bak Ref_TID,G_From_E_F,XRef_Sch Nm,XRef_Match,Int_Rate,Int_Cmte Id
226,820668,The Silicon Valley Organization PAC,RCP,1/31/2018 12:27:01 AM,7/1/2017 12:00:00 AM,12/31/2017 12:00:00 AM,NaN,EXPN,G,EDT779,...,NaN,NaN,NO,NaN,NaN,E,NaN,NaN,NaN,NaN
225,820668,The Silicon Valley Organization PAC,RCP,1/31/2018 12:27:01 AM,7/1/2017 12:00:00 AM,12/31/2017 12:00:00 AM,NaN,EXPN,G,EDT780,...,NaN,NaN,NO,NaN,NaN,E,NaN,NaN,NaN,NaN
223,820668,The Silicon Valley Organization PAC,RCP,1/31/2018 12:27:01 AM,7/1/2017 12:00:00 AM,12/31/2017 12:00:00 AM,NaN,EXPN,G,EDT781,...,NaN,NaN,NO,NaN,NaN,E,NaN,NaN,NaN,NaN
224,820668,The Silicon Valley Organization PAC,RCP,1/31/2018 12:27:01 AM,7/1/2017 12:00:00 AM,12/31/2017 12:00:00 AM,NaN,EXPN,G,EDT782,...,NaN,NaN,NO,NaN,NaN,E,NaN,NaN,NaN,NaN
49,820668,The Silicon Valley Organization PAC,RCP,5/18/2018 7:23:35 PM,1/1/2018 12:00:00 AM,4/21/2018 12:00:00 AM,NaN,EXPN,D,EDT783,...,NaN,S,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [827]:
df.to_csv('df.csv')

In [840]:
active_code = df.Expn_Code.unique().tolist()

In [829]:
df.Entity_Cd.unique()

array(['OTH', 'IND', 'COM', 'SCC'], dtype=object)

In [830]:
data = df[df['Rec_Type']!='EXPN']



source = ColumnDataSource(data={
    'x'       : data.Tran_Date,
    'y'       : data.Amount,
    
    'r'        :  (data.Amount / 1200) + 10,
   
    'tid'  : data.Tran_ID,
    'Amount'  : data.Amount,
    'Entity_Nam'  : data['Entity_Nam L'],
    'Entity_Cd'   : data.Entity_Cd,
    
})



hover =  HoverTool(
    tooltips = [
    ("Trid", "@tid"),
    ("Amount", "@Amount"),
        ("Entity_Nam", "@Entity_Nam"),
       
        
           
])


p1 = figure(x_axis_type="datetime", title='2018', x_axis_label='Tran_Date', y_axis_label='Amount',
          # x_axis_type='datetime',
           plot_height=400, plot_width=700,
           tools=[hover])

color_mapper = CategoricalColorMapper(factors=['OTH', 'IND', 'COM', 'SCC'],
                                      palette=['red', 'green', 'blue', 'orange'])



# Add a circle glyph to the figure p
p1.circle(x='x', y='y',  alpha=0.2, size = 'r', source=source,  color=dict(field='Entity_Cd', transform=color_mapper),
            legend='Entity_Cd')
p1.legend.location = 'top_left'
# Output the file and show the figure
output_file('gapminder.html')
#show(p1)

In [831]:
dat = df[df['Rec_Type']=='EXPN']

In [832]:
dat = dat.fillna('None')

In [833]:
from bokeh.palettes import d3
palette = d3['Category20'][len(dat['Expn_Code'].unique())]
palette

['#1f77b4',
 '#aec7e8',
 '#ff7f0e',
 '#ffbb78',
 '#2ca02c',
 '#98df8a',
 '#d62728',
 '#ff9896',
 '#9467bd',
 '#c5b0d5',
 '#8c564b']

In [834]:
list_code = dat['Expn_Code'].unique().tolist()

In [835]:
from bokeh.transform import linear_cmap
color_map = CategoricalColorMapper(factors = ['FND', 'IND', 'LIT', 'None', 'MTG', 'PRO', 'OFC', 'WEB', 'CNS', 'MON',
       'POL']
                                   ,palette=['#1f77b4',
 '#aec7e8',
 '#ff7f0e',
 '#ffbb78',
 '#2ca02c',
 '#98df8a',
 '#d62728',
 '#ff9896',
 '#9467bd',
 '#c5b0d5',
 '#8c564b'])

In [836]:

from bokeh.palettes import Spectral6
source = ColumnDataSource(data={
    'x'       : dat.Tran_Date,
    'y'       : dat.Amount,
    'r'        :  (dat.Amount / 1200) + 10,
    'tid'  : dat.Tran_ID,
    'Amount'  : dat.Amount,
    'Entity_Nam'  : dat['Entity_Nam L'],
    'Expn_Code'   : dat.Expn_Code,
    'Entity_Cd'   : data.Entity_Cd,
    
    
})



hover =  HoverTool(
    tooltips = [
    ("Trid", "@tid"),
    ("Amount", "@Amount"),
        ("Entity_Nam", "@Entity_Nam"),
       
        
           
])


mapper = linear_cmap(field_name='Entity_Cd', palette=Spectral6 ,low=0 ,high=11)


p2 = figure(x_axis_type="datetime", title='2018_1', x_axis_label='Tran_Date', y_axis_label='Amount',
          # x_axis_type='datetime',
           plot_height=400, plot_width=700,
           tools=[hover])

#color_mapper = CategoricalColorMapper(factors=['OTH', 'IND', 'COM', 'SCC'], palette=['red', 'green', 'blue', 'orange'])


from bokeh.transform import factor_cmap
# Add a circle glyph to the figure p
p2.circle(x='x', y='y', alpha=0.2, size = 'r', source=source, color=dict(field='Expn_Code', transform=color_map)
            ,legend='Expn_Code')
p2.legend.location = 'top_left'
# Output the file and show the figure
output_file('gapminder.html')
p22 = row(controls, p2)
#show(p2)

BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('Amount', 390), ('Entity_Cd', 383), ('Entity_Nam', 390), ('Expn_Code', 390), ('r', 390), ('tid', 390), ('x', 390), ('y', 390)

In [837]:
# Import Tabs from bokeh.models.widgets
from bokeh.models.widgets import Tabs
from bokeh.models.widgets import Panel

# Create tab1 from plot p1: tab1
tab1 = Panel(child=p1, title='Income')

# Create tab2 from plot p2: tab2
tab2 = Panel(child=p22, title='Expenses')

# Create a Tabs layout: layout
layout = Tabs(tabs=[tab1, tab2])

# Link the x_range of p2 to p1: p2.x_range
p2.x_range = p1.x_range

# Link the y_range of p2 to p1: p2.y_range
p2.y_range = p1.y_range

# Specify the name of the output_file and show the result
output_file('tabs.html')
show(layout)

WARNING:bokeh.embed.util:
You are generating standalone HTML/JS output, but trying to use real Python
callbacks (i.e. with on_change or on_event). This combination cannot work.

Only JavaScript callbacks may be used with standalone output. For more
information on JavaScript callbacks with Bokeh, see:

    http://bokeh.pydata.org/en/latest/docs/user_guide/interaction/callbacks.html

Alternatively, to use real Python callbacks, a Bokeh server application may
be used. For more information on building and running Bokeh applications, see:

    http://bokeh.pydata.org/en/latest/docs/user_guide/server.html

In [824]:
from bokeh.models.widgets import CheckboxGroup
# Create the checkbox selection element, available carriers is a  
# list of all airlines in the data
list_code_ = CheckboxGroup(labels=active_code, 
                                  active = [0, 1])

from bokeh.layouts import column, row, WidgetBox
from bokeh.models import Panel
from bokeh.models.widgets import Tabs
# Put controls in a single element
controls = WidgetBox(list_code_)
    
# Create a row layout
layout = row(controls, p1)
    
# Make a tab with the layout 
tab = Panel(child=layout, title = 'Delay Histogram')
tabs = Tabs(tabs=[tab])

In [838]:
# Update function takes three default parameters
def update(attr, old, new):
    # Get the list of carriers for the graph
    carriers_to_plot = [list_code_.labels[i] for i in 
                        list_code_.active]
    
    # Update the source used in the quad glpyhs
    src.data.update(new_src.data)

In [839]:
# Link a change in selected buttons to the update function
list_code_.on_change('active', update)